<html>
    <head>
        <title>
            result
        </title>
        <link rel="stylesheet" type="text/css" href="">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        
        </head>
        
<body>
    <nav class="navbar navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="index.html">Ailaysa</a>
    
    </nav>




    <h1>translated</h1>
    {{ word }}
</body>
</html>