<!DOCTYPE html>
<html>
<head>
	<title>Welcome to tranz</title>

	
	<link rel="stylesheet" type="text/css" href="">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
	
<nav class="navbar navbar-dark bg-primary fixed-top">
	<a class="navbar-brand" href="index.html">kavintrans</a>

</nav>

<!--<h1 class="display-2" style="position: relative;top: 50px;">Welcome to Ailaysa! <br> Translate any file from any language to any language for free! -->
<!--<div class="jumbotron " style="position: relative;top: 50px;left: 50px;">
  <div class="container">
    <h1 class="display-2">Welcome to Ailaysa!<br></h1>
    <div class="container">
    <p class="lead" style="font-size: 30px;">Translate any file from any language to any language for free!</p></div>
  </div>
</div>
-->
<div class="jumbotron" style="position: relative;top: 50px;width: 100%;" >
  <h1 class="display-4">Welcome to kavintrans!</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p class="lead" style="font-size: 30px;">Translate any file from any language to any language for free!</p>
 
</div>




<form style="position: relative;top: 30px;left: 150px;" action = 'count' >

  <div class="form-group">
    <label for="formGroupExampleInput">Enter the text</label>
    <input type="text" class="form-control" name='txt' placeholder="Type...." style="width: 30%" required="required" name="nm">
  </div>
 

  <button type="submit" class="btn btn-primary" id="myBtn" data-toggle="popover" title="Your file has been submitted" data-content="And here's some amazing content. It's very engaging. Right?">Submit</button>



  
</form>

</body>
</html>
